Repository teambition/teambition-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "*.{js,json,md}": ["prettier --write", "git add"],
  "*.ts": ["prettier --write", "tslint --fix", "git add"]
}

fix(schemas/schema): 明确变量类型，避免 `noImplicitAny` 问题
  src/schemas/schema.ts
Due: prettier --write, tslint --fix

chore(release): 0.6.17
  CHANGELOG.md
  package.json
Due: prettier --write

fix(schemas): 更新 Plan 定义
  src/schemas/Organization.ts
  src/schemas/UserMe.ts
Due: prettier --write, tslint --fix

chore: 更新 typescript v2.8.3
  mock/mock.ts
  mock/response.ts
  package.json
  src/apis/CustomFieldApi.ts
  src/fetchs/MemberFetch.ts
  src/fetchs/TaskFetch.ts
  src/models/BaseModel.ts
  src/rxjs/toLoading.ts
  src/schemas/Task.ts
  src/storage/Database.ts
  src/utils/Fetch.ts
  test/mock/tasksUndone.ts
  test/tslint.json
  test/unit/apis/TaskApiSpec.ts
  test/unit/storage/DatabaseSpec.ts
  tools/tasks/test.ts
  tslint.json
  yarn.lock
Due: prettier --write, tslint --fix

feat(apis/TaskAPI): 添加 `getMyTasksByType()` 接口
  src/apis/TaskAPI.ts
  src/fetchs/TaskFetch.ts
  src/models/BaseCollection.ts
  src/models/TaskModel.ts
  src/schemas/Task.ts
Due: prettier --write, tslint --fix

feat(apis/CustomFieldLinkAPI): 添加 `getProjectCustomFieldLinks()` 接口
  src/apis/CustomFieldLinkAPI.ts
  src/fetchs/CustomFieldFetch.ts
  src/fetchs/CustomFieldLinkFetch.ts
  src/models/CustomFieldLinkModel.ts
  src/models/CustomFieldModel.ts
  src/schemas/CustomField.ts
  src/schemas/CustomFieldLink.ts
  src/teambition.ts
  test/mock/customfieldlinksApplication.ts
  test/mock/customfieldsApplication.ts
  test/mock/customfieldsProject.ts
Due: prettier --write, tslint --fix

chore(release): 0.6.18
  CHANGELOG.md
  package.json
Due: prettier --write

fix(apis/CustomFieldLinkAPI): 确保 `CustomFieldLinkApi` 被导出
  src/apis.ts
  src/apis/CustomFieldLinkAPI.ts
  src/fetchs/CustomFieldLinkFetch.ts
  src/models/CustomFieldLinkModel.ts
Due: prettier --write, tslint --fix

chore(release): 0.6.19
  CHANGELOG.md
  package.json
Due: prettier --write

fix(api/CustomFieldAPI): 更正 `CustomFieldAPI` 命名
  src/apis/CustomFieldAPI.ts
Due: prettier --write, tslint --fix

chore(release): 0.6.20
  CHANGELOG.md
  package.json
Due: prettier --write

fix(schema): 为 StageSchema 补充 _creatorId 和 isLocked 属性
  src/schemas/Stage.ts
Due: prettier --write, tslint --fix

0.11.7
  package.json
Due: prettier --write

feat(apis/TagAPI): 添加 `getTags()` 接口
  src/apis/CustomFieldLinkAPI.ts
  src/apis/ScenarioFieldConfigAPI.ts
  src/apis/TagAPI.ts
  src/apis/TaskAPI.ts
  src/app.ts
  src/fetchs/TagFetch.ts
  src/fetchs/TaskFetch.ts
  src/models/CustomFieldLinkModel.ts
  src/models/ScenarioFieldConfigModel.ts
  src/models/TagModel.ts
  src/models/TaskModel.ts
  src/schemas.ts
  src/schemas/Tag.ts
  src/schemas/TagCategory.ts
  src/teambition.ts
  test/mock/tags.ts
  test/mock/tagsOrg.ts
  test/unit/apis/TagApiSpec.ts
Due: prettier --write, tslint --fix

feat(apis/ScenarioFieldConfigAPI): 添加 `getScenarioFieldConfigs()` 接口
  src/apis.ts
  src/apis/ScenarioFieldConfigAPI.ts
  src/fetchs/ScenarioFieldConfigFetch.ts
  src/models/ScenarioFieldConfigModel.ts
  src/schemas.ts
  src/schemas/EventScenarioFieldConfig.ts
  src/schemas/ScenarioFieldConfig.ts
  src/schemas/TaskScenarioFieldConfig.ts
  src/teambition.ts
  test/mock/scenariofieldconfigsEvent.ts
  test/mock/scenariofieldconfigsTask.ts
Due: prettier --write, tslint --fix

feat(apis/TaskAPI): 添加 `updateStartDate()` 接口
  src/apis/TaskAPI.ts
  src/fetchs/TaskFetch.ts
  src/schemas/Team.ts
  src/schemas/schemaFactory.ts
Due: prettier --write, tslint --fix

fix(apis/CustomFieldAPI): 确保将 `updateTaskCustomField()` 返回结果存入缓存
  src/apis/CustomFieldAPI.ts
  src/fetchs/CustomFieldFetch.ts
Due: prettier --write, tslint --fix

chore(release): 0.6.21
  CHANGELOG.md
  package.json
Due: prettier --write

feat(socket-middleware): 添加 socket 中间件机制
  package.json
  src/Net/Net.ts
  src/SDK.ts
  src/index.ts
  src/sockets/EventMaps.ts
  src/sockets/EventParser.ts
  src/sockets/MapToTable.ts
  src/sockets/Middleware.ts
  src/sockets/SocketClient.ts
  src/sockets/index.ts
  src/utils/Dirty.ts
  src/utils/Logger.ts
  src/utils/eventToRegexp.ts
  src/utils/index.ts
  src/utils/internalTypes.ts
  src/utils/proxy.ts
  test/app.ts
  test/index.ts
  test/net/net.ts
  test/sockets/eventParser.spec.ts
  test/sockets/index.ts
  test/sockets/middleware.spec.ts
  test/sockets/sockets.spec.ts
  test/utils/utils.ts
  yarn.lock
Due: prettier --write, tslint --fix

...在 SDK 对象的 SocketClient 上默认添加点赞推送处理拦截器
  src/SDK.ts
  src/sockets/interceptor/index.ts
  src/sockets/interceptor/like-message.ts
  test/sockets/index.ts
  test/sockets/interceptors.spec.ts
  test/sockets/mapToTable.spec.ts
Due: prettier --write, tslint --fix

0.12.0-alpha.0-wsmidware
  package.json
Due: prettier --write

fix(schemas/UserMe): 使用 `userMe.tcmToken` 连接 WebSocket 服务
  src/schemas/UserMe.ts
  src/sockets/SocketClient.ts
  test/mock/userme.ts
Due: prettier --write, tslint --fix

chore(release): 0.6.22
  CHANGELOG.md
  package.json
Due: prettier --write

fix(sockets/SocketClient): 使用 `userMe.tcmToken` 连接 WebSocket 服务
  src/schemas/UserMe.ts
  src/sockets/SocketClient.ts
  test/fixtures/user.fixture.ts
Due: prettier --write, tslint --fix

fix(schemas/UserMe): 移除 snapperToken 字段
  src/schemas/UserMe.ts
  test/fixtures/user.fixture.ts
Due: prettier --write, tslint --fix

feat(schemas/Organization): 添加 `_defaultCollectionId` 字段
  src/schemas/Organization.ts
Due: prettier --write, tslint --fix

0.11.8
  package.json
Due: prettier --write

fix/member: 数据类型修正
  src/fetchs/UserFetch.ts
Due: prettier --write, tslint --fix

fix: memberSchema fix，add _userId
  package.json
  src/apis/TaskAPI.ts
  src/schemas/Member.ts
Due: prettier --write, tslint --fix

自定义字段
  src/apis/CustomFieldApi.ts
  src/schemas/CustomField.ts
Due: prettier --write, tslint --fix

fix/welink: 增加fetch接口
  src/apis/TagAPI.ts
Due: prettier --write, tslint --fix

fix: 允许 Socket 地址带有 path 参数
  mock/socket.ts
  package.json
  src/sockets/SocketClient.ts
  test/unit/app.ts
  test/unit/socket/socket-client.ts
  yarn.lock
Due: prettier --write, tslint --fix

chore(release): 0.6.23
  CHANGELOG.md
  package.json
Due: prettier --write

feat(socket-middleware): 添加 socket 中间件机制
  package.json
  src/Net/Net.ts
  src/SDK.ts
  src/index.ts
  src/sockets/EventMaps.ts
  src/sockets/EventParser.ts
  src/sockets/MapToTable.ts
  src/sockets/Middleware.ts
  src/sockets/SocketClient.ts
  src/sockets/index.ts
  src/sockets/interceptor/index.ts
  src/sockets/interceptor/like-message.ts
  src/utils/Dirty.ts
  src/utils/Logger.ts
  src/utils/eventToRegexp.ts
  src/utils/index.ts
  src/utils/internalTypes.ts
  src/utils/proxy.ts
  test/app.ts
  test/index.ts
  test/net/net.ts
  test/sockets/eventParser.spec.ts
  test/sockets/index.ts
  test/sockets/interceptors.spec.ts
  test/sockets/mapToTable.spec.ts
  test/sockets/middleware.spec.ts
  test/sockets/sockets.spec.ts
  test/utils/utils.ts
  yarn.lock
Due: prettier --write, tslint --fix

chore(dependency): upgrade `typescript` to 2.8
  mock/socket.ts
  package.json
  src/Net/Http.ts
  src/Net/Net.ts
  src/SDK.ts
  src/schemas/schemas.ts
  src/sockets/MapToTable.ts
  src/sockets/SocketClient.ts
  src/utils/helper.ts
  src/utils/internalTypes.ts
  yarn.lock
Due: prettier --write, tslint --fix

ADD README-PRIVATE: 用于私有部署打包，目前仅在华润 crland 上使用
  README-PRIVATE.MD
Due: none

0.12.0
  package.json
Due: prettier --write
