Repository teambition/teambition-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

0.12.73-alpha.4-assignment
  package.json
Due: prettier --write

0.12.73-alpha.5-assignment
  package.json
Due: prettier --write

feat(schema): 新增 assignment-link 数据结构
  src/apis/assignmentLink/delete.ts
  src/apis/assignmentLink/get.ts
  src/apis/assignmentLink/index.ts
  src/apis/assignmentLink/post.ts
  src/apis/assignmentLink/put.ts
  src/apis/index.ts
  src/schemas/AssignmentLink.ts
  src/schemas/index.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

fixup! feat(schema): 新增 assignment-link 数据结构
  src/apis/assignmentLink/delete.ts
  src/apis/assignmentLink/put.ts
Due: prettier --write, tslint --fix

fixup! fixup! feat(schema): 新增 assignment-link 数据结构
  src/schemas/AssignmentLink.ts
Due: prettier --write, tslint --fix

0.12.73-alpha.6-assignment
  package.json
Due: prettier --write

feat(TaskDependency): 任务依赖添加 lagTime 字段
  src/schemas/TaskDependency.ts
Due: prettier --write, tslint --fix

0.12.73-alpha.7-lagtime
  package.json
Due: prettier --write

feat(TaskflowStatus): TaskflowStatus 添加 hasTaskflowEngineConfig 字段
  src/schemas/TaskflowStatus.ts
Due: prettier --write, tslint --fix

0.12.73-alpha.8-flowstatus
  package.json
Due: prettier --write

feat(TaskflowStatus): getScenarioFieldConfigs 的 assocFields 添加 hasTaskflowEngineConfig 字段
  src/apis/scenariofieldconfig/get-by-project-id.ts
Due: prettier --write, tslint --fix

0.12.73-alpha.9-flowstatus
  package.json
Due: prettier --write

Remove myself from maintainers :-)
  MAINTAINERS
Due: none

feat(Schema): 新增任务优先级的值
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.73-alpha.10-priority
  package.json
Due: prettier --write

feat(types): 添加 milestone 类型的 ScenarioProTemplateConfigType
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.73-alpha.11-milestone
  package.json
Due: prettier --write

0.12.73-alpha.12-assignment
  package.json
Due: prettier --write

feat(http): 新增 setMethods 方法
  src/Net/Http.ts
  test/net/http.ts
Due: prettier --write, tslint --fix

0.12.73-alpha.10-setHttpMethods
  package.json
Due: prettier --write

feature(task): 增加 Task isTop 和 scenariofiledconfig 字段
  src/schemas/Task.ts
Due: prettier --write, tslint --fix

0.12.73-alpha.13-assignment
  package.json
Due: prettier --write

0.12.73-alpha.14-milestone.and.lagtime
  package.json
Due: prettier --write

feat(Net): batch service
  src/Net/batch.ts
  src/Net/index.ts
  src/index.ts
  test/net/batch.ts
  test/net/index.ts
Due: prettier --write, tslint --fix

0.12.73-alpha.15-batch
  package.json
Due: prettier --write

feat(analytics): TapChart支持跨项目维度
  src/schemas/TapChart.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.73-alpha.16-assignment
  package.json
Due: prettier --write

0.12.73-alpha.17-assignment
  package.json
Due: prettier --write

0.12.73-beta.0
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.ts)
  tslint --fix: any of: *.ts
