Repository teambition/teambition-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "*.{js,json,md}": ["prettier --write", "git add"],
  "*.ts": ["prettier --write", "tslint --fix", "git add"]
}

feat(Pagination): 实现帮助对接分页接口的函数库
  src/Net/Pagination.ts
  test/net/index.ts
  test/net/pagination.ts
Due: prettier --write, tslint --fix

...在 state 中添加字段，帮助用户管理更多常用状态
  src/Net/Pagination.ts
  test/net/pagination.ts
Due: prettier --write, tslint --fix

调整接口，并将 nextPage 挂在 SDKFetch 上
  src/Net/Pagination.ts
  src/SDKFetch.ts
  test/net/pagination.ts
Due: prettier --write, tslint --fix

feat(Schema): 新增工作台卡片 DashboardCardSchema
  src/schemas/DashboardCard.ts
  src/schemas/index.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

feat(schemas/AdvancedCustomField)
  src/schemas/CustomField.ts
  src/schemas/CustomFieldLink.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

0.11.12-alpha.2-acf
  package.json
Due: prettier --write

refactor: 优化 `Net#validate` 函数的流程
  src/Net/Net.ts
Due: prettier --write, tslint --fix

feat: 新增 `memorized` 简单 `Get` 请求的能力
  src/SDKFetch.ts
Due: prettier --write, tslint --fix

fix: 修复 `eventToRE` 模块的实现
  src/utils/eventToRegexp.ts
  test/utils/utils.ts
Due: prettier --write, tslint --fix

fix(yarn.lock): 恢复 yarn.lock 与 package.json 的依赖同步
  yarn.lock
Due: none

0.12.4-alpha.0-dbcard-wsproxy
  package.json
Due: prettier --write

0.11.12-alpha.3-acf
  package.json
Due: prettier --write

feat(types/ScenarioProTemplateConfigType)
  src/teambition.ts
Due: prettier --write, tslint --fix

0.11.12-alpha.4-agile
  package.json
Due: prettier --write

feat(types/ScenarioProTemplateConfigType): subtask 类型换成 task 类型
  src/teambition.ts
Due: prettier --write, tslint --fix

refactor(typings): 改善和纠正各种 id 类型的性质
  src/apis/event/utils.ts
  src/schemas/Event.ts
  src/schemas/Member.ts
  src/schemas/TapDashboard.ts
  src/schemas/TapQuestion.ts
  src/schemas/UserMe.ts
  src/teambition.ts
  test/apis/customfieldlink.spec.ts
  test/apis/event/EventGenerator.spec.ts
  test/apis/event/event.spec.ts
  test/apis/file.spec.ts
  test/apis/like.spec.ts
  test/apis/my.spec.ts
  test/apis/organization.spec.ts
  test/apis/post.spec.ts
  test/apis/project.spec.ts
  test/apis/scenariofieldconfig.spec.ts
  test/apis/search.spec.ts
  test/apis/tag.spec.ts
  test/apis/task.spec.ts
  test/net/asyncLoadRDB.ts
Due: prettier --write, tslint --fix

0.12.4-alpha.1-idtyping
  package.json
Due: prettier --write

0.11.12
  package.json
Due: prettier --write

feat(schemas/AdvancedCustomField): 增加高级自定义类型的定义
  src/schemas/CustomField.ts
  src/schemas/CustomFieldLink.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

feat(apis): 添加企业相关的 scenario field config 接口
  src/Net/Net.ts
  src/apis/scenariofieldconfig/get-by-org-id.ts
  src/apis/scenariofieldconfig/get-by-project-id.ts
  src/apis/scenariofieldconfig/get.ts
  src/apis/scenariofieldconfig/index.ts
  src/apis/scenariofieldconfig/post.ts
  src/apis/scenariofieldconfig/put.ts
  src/schemas/ScenarioField.ts
  src/schemas/ScenarioFieldConfig.ts
  src/teambition.ts
  test/apis/scenariofieldconfig.spec.ts
  test/fixtures/scenariofieldconfigs.fixture.ts
Due: prettier --write, tslint --fix

fix(sockets): 修复 `eventToRE` 模块的实现
  src/utils/eventToRegexp.ts
  test/utils/utils.ts
Due: prettier --write, tslint --fix

0.12.4
  package.json
Due: prettier --write

issue(Schema): 将 DashboardCardSchema 相关的类型定义 export 出来
  src/schemas/DashboardCard.ts
  src/schemas/index.ts
Due: prettier --write, tslint --fix

feat(Schema): 新增文件夹可见性相关的Schema
  src/schemas/Collection.ts
Due: prettier --write, tslint --fix

feat(Schema): 更新burnup图的schema，添加bar图配色方案并增加选择器
  src/schemas/TapChart.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.5
  package.json
Due: prettier --write

refactor(typings): 改善和纠正各种 id 类型的性质
  src/apis/event/utils.ts
  src/schemas/Event.ts
  src/schemas/Member.ts
  src/schemas/TapDashboard.ts
  src/schemas/TapQuestion.ts
  src/schemas/UserMe.ts
  src/teambition.ts
  test/apis/customfieldlink.spec.ts
  test/apis/event/EventGenerator.spec.ts
  test/apis/event/event.spec.ts
  test/apis/file.spec.ts
  test/apis/like.spec.ts
  test/apis/my.spec.ts
  test/apis/organization.spec.ts
  test/apis/post.spec.ts
  test/apis/project.spec.ts
  test/apis/scenariofieldconfig.spec.ts
  test/apis/search.spec.ts
  test/apis/tag.spec.ts
  test/apis/task.spec.ts
  test/fixtures/scenariofieldconfigs.fixture.ts
  test/net/asyncLoadRDB.ts
Due: prettier --write, tslint --fix

0.11.13-alpha.0-orgsfc
  package.json
Due: prettier --write

0.12.6
  package.json
Due: prettier --write

fix(schemas): 更正 `involveMembers` 类型
  src/apis/event/README.md
  src/schemas/Entry.ts
  src/schemas/File.ts
Due: prettier --write, tslint --fix

fix(schemas): 完善 TasklistSchema 的字段，并整理字段在代码中的排序
  src/schemas/Project.ts
  src/schemas/Tasklist.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

perf(EventGenerator): 更高效地找到给定区间在重复规则上的开始点
  src/apis/event/EventGenerator.ts
Due: prettier --write, tslint --fix

0.12.7-alpha.0-egenperf
  package.json
Due: prettier --write
