Repository teambition/teambition-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

squash(feat): testcase 增加参与者
  src/schemas/Testcase.ts
Due: prettier --write, tslint --fix

squash: 增加 testcase 的 executor
  src/schemas/Testcase.ts
Due: prettier --write, tslint --fix

0.12.14-alpha.0-testplan
  package.json
Due: prettier --write

fix(Http): 修复设置的 content-type 请求头字段被 rx ajax 干扰的问题
  src/Net/Http.ts
Due: prettier --write, tslint --fix

0.12.14
  package.json
Due: prettier --write

fix(Net): 补充 window.Headers polyfill，兼容不支持的浏览器
  package.json
  src/Net/Headers.ts
  src/Net/index.ts
Due: prettier --write, tslint --fix

0.12.15-alpha.0-headerspolyfill
  package.json
Due: prettier --write

fix(dependency): 添加 optionalDependencies "whatwg-fetch"
  package.json
Due: prettier --write

Revert "fix(Net): 补充 window.Headers polyfill，兼容不支持的浏览器"
  package.json
  src/Net/Headers.ts
  src/Net/index.ts
Due: prettier --write, tslint --fix

0.12.15-alpha.1-opfetchpolyfill
  package.json
Due: prettier --write

doc(README): 添加安装说明，提示可能需要 Fetch API polyfill
  README.md
Due: prettier --write

chore(tools): 添加 npm-publish 脚本，令 prerelease 上的发布使用 --tag
  package.json
  tools/tasks/npm-publish.ts
Due: prettier --write, tslint --fix

chore(tools): 添加 preversion 脚本，报告当前版本信息
  package.json
  tools/tasks/version.ts
  yarn.lock
Due: prettier --write, tslint --fix

0.12.15
  package.json
Due: prettier --write

feat(interceptor): wrap() - empty condition
  package.json
  src/utils/interceptor.ts
  test/app.ts
  test/utils/index.ts
  test/utils/interceptor.spec.ts
  yarn.lock
Due: prettier --write, tslint --fix

feat(interceptor): wrap() - single interceptor
  src/utils/interceptor.ts
  test/utils/interceptor.spec.ts
Due: prettier --write, tslint --fix

...add test case: 1-to-multi-value Observable conversion
  test/utils/interceptor.spec.ts
Due: prettier --write, tslint --fix

fix(schemas): 为 TaskSchema 和 EventSchema 补充 objectType 字段
  src/schemas/Event.ts
  src/schemas/Task.ts
Due: prettier --write, tslint --fix

feat(schema): 添加 Testplan Schema 和 Testcase Schema
  src/schemas/Testcase.ts
  src/schemas/Testplan.ts
  src/schemas/index.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

squash: 修改customfield类型
  src/schemas/Testcase.ts
Due: prettier --write, tslint --fix

squash: 新增 testcaseflowStatus
  src/schemas/Testcase.ts
  src/schemas/TestcaseflowStatus.ts
Due: prettier --write, tslint --fix

0.12.16-alpha.0-testplan
  package.json
Due: prettier --write

squash: 将testplanStatus和taskflowStatus统一
  src/schemas/Testcase.ts
  src/schemas/TestcaseflowStatus.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.16-alpha.1-testplan
  package.json
Due: prettier --write

fix(SDKFetch): 纠正邻近相同 urlWithQuery 请求的复用逻辑
  src/SDKFetch.ts
  test/SDKFetch.spec.ts
Due: prettier --write, tslint --fix

0.12.16
  package.json
Due: prettier --write

chore(schema): 增加 projectOrder 到 PreferenceSchema
  src/schemas/Preference.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.17
  package.json
Due: prettier --write

fix(typing): 纠正 SDKFetch getMessages 接口的返回值类型为数组
  src/apis/message/request.ts
Due: prettier --write, tslint --fix

feat(schemas): 添加 task dependency 相关类型
  src/schemas/TaskDependency.ts
  src/schemas/index.ts
  src/sockets/TableAlias.ts
  src/teambition.ts
  test/sockets/mapToTable.spec.ts
Due: prettier --write, tslint --fix

0.12.18-alpha.0-taskdep
  package.json
Due: prettier --write

fix: 更新 `DefaultColors` 定义
  src/teambition.ts
Due: prettier --write, tslint --fix

fix: 引入 `observable/throw` 操作符
  src/Net/Http.ts
  src/Net/Pagination.ts
  src/SDKFetch.ts
Due: prettier --write, tslint --fix

chore(package.json): 为 npm publish 使用 --tag 选项 legacy
  package.json
Due: prettier --write

fix(circular-dep): 解决 apis/TaskAPI 对 apis 的意外依赖
  src/apis/TaskAPI.ts
Due: prettier --write, tslint --fix

chore(ci): upgrade to using circleci 2.0
  .circleci/config.yml
  circle.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.ts)
  tslint --fix: any of: *.ts
