Repository teambition/teambition-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc.json:

{
  "*.{js,json,md}": ["prettier --write", "git add"],
  "*.ts": ["prettier --write", "tslint --fix", "git add"]
}

0.12.7
  package.json
Due: prettier --write

feat(Pagination): 实现帮助对接分页接口的函数库
  src/Net/Http.ts
  src/Net/Pagination.ts
  test/net/index.ts
  test/net/pagination.ts
Due: prettier --write, tslint --fix

0.12.8-alpha.0-pagination
  package.json
Due: prettier --write

feat(Pagination): 实现帮助对接分页接口的函数库
  src/Net/Http.ts
  src/Net/Pagination.ts
  src/Net/index.ts
  src/apis/index.ts
  src/apis/pagination.ts
  src/index.ts
  test/net/index.ts
  test/net/pagination.ts
Due: prettier --write, tslint --fix

0.12.8-alpha.1-page
  package.json
Due: prettier --write

perf(EventGenerator): 更高效地找到给定区间在重复规则上的开始点
  src/apis/event/EventGenerator.ts
Due: prettier --write, tslint --fix

0.12.8
  package.json
Due: prettier --write

feat(schemas): 新增 CommonGroup schema
  src/schemas/CommonGroup.ts
  src/schemas/index.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.9-alpha.0-cgrp
  package.json
Due: prettier --write

改 sdkFetch.nextPage 为 sdkFetch.expandPage，并添加 mutate 选项
  src/Net/Pagination.ts
  src/apis/pagination.ts
  test/net/pagination.ts
Due: prettier --write, tslint --fix

0.12.9-alpha.1-page
  package.json
Due: prettier --write

feat(TaskAPI): 添加 `updateRating()` 接口
  src/apis/TaskAPI.ts
  src/fetchs/TaskFetch.ts
Due: prettier --write, tslint --fix

chore(release): 0.6.24
  CHANGELOG.md
  package.json
Due: prettier --write

fix(deps): 避免由 `JoinMode` 引入整个 reactivedb 依赖
  src/Net/Net.ts
Due: prettier --write, tslint --fix

0.12.9
  package.json
Due: prettier --write

fix: 解决 `mock` 构建失败问题，避免直接引入 `src` 或 `test` 模块
  mock/socket.ts
  test/unit/apis/DirtyApiSpec.ts
  test/unit/socket/activity.ts
  test/unit/socket/event.ts
  test/unit/socket/feedback.ts
  test/unit/socket/like.ts
  test/unit/socket/member.ts
  test/unit/socket/message.ts
  test/unit/socket/preference.ts
  test/unit/socket/project.ts
  test/unit/socket/socket-client.ts
  test/unit/socket/subscribe.ts
  test/unit/socket/task.ts
  test/unit/utils/setSchema.ts
Due: prettier --write, tslint --fix

chore(release): 0.6.25
  CHANGELOG.md
  package.json
Due: prettier --write

feat(schemas): 新增 CommonGroup schema
  src/schemas/CommonGroup.ts
  src/schemas/CustomFieldLink.ts
  src/schemas/index.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.10-alpha.0-cgrp
  package.json
Due: prettier --write

feat(schema): 添加文件自定义字段相关 schema
  src/teambition.ts
Due: prettier --write, tslint --fix

fixup! 避免在 teambition.ts 引用来自其他模块的类型
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.10-alpha.1-cfworks
  package.json
Due: prettier --write

feat(schema): 添加 ProjectTemplate Schema，暂不需要建表
  src/schemas/ProjectTemplate.ts
  src/schemas/index.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.10-alpha.2-pjtmpl
  package.json
Due: prettier --write

feat(types): 补充文件自定义字段相关类型声明
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.10-alpha.3-cfwork
  package.json
Due: prettier --write

fix(sockets): 修复“双`//`路径”问题
  mock/socket.ts
  src/sockets/SocketClient.ts
  test/unit/socket/socket-client.ts
Due: prettier --write, tslint --fix

chore(release): 0.6.26
  CHANGELOG.md
  package.json
Due: prettier --write

0.12.10
  package.json
Due: prettier --write

fix: 移除不再使用的 `isInbox` 字段
  src/schemas/Favorite.ts
  src/schemas/Subtask.ts
Due: prettier --write, tslint --fix

chore(release): 0.6.27
  CHANGELOG.md
  package.json
Due: prettier --write

chore(ci): upgrade to using circleci 2.0
  .circleci/config.yml
  circle.yml
Due: none

refactor(SDKFetch): 令 setHeaders 支持 merge 模式
  src/SDKFetch.ts
  test/SDKFetch.spec.ts
Due: prettier --write, tslint --fix

feat(taskflow-schema): taskflowSchema 增加 taskflowstatuses 字段
  src/schemas/Taskflow.ts
Due: prettier --write, tslint --fix

0.12.11-alpha.0-tfs
  package.json
Due: prettier --write

feat(SDKFetch): 让每个请求默认带上 X-Request-Id 头字段
  src/SDKFetch.ts
  test/SDKFetch.spec.ts
Due: prettier --write, tslint --fix

...使用 uuid 包来生成 uuidv4
  package.json
  src/utils/helper.ts
  yarn.lock
Due: prettier --write, tslint --fix

...确保 requestId 出现在 SDKFetch HttpErrorMessage 里
  src/Net/Http.ts
  src/SDKFetch.ts
  test/SDKFetch.spec.ts
Due: prettier --write, tslint --fix
