Repository teambition/teambition-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

feat(teambition-types): 为新增的任务类型图标添加对应的类型
  src/teambition.ts
Due: prettier --write, tslint --fix

0.12.18
  package.json
Due: prettier --write

ScenarioFieldSchema 增加对备注类型 default 值
  src/schemas/ScenarioField.ts
Due: prettier --write, tslint --fix

feat(schemas/Organization): 添加 `owner` 字段
  src/schemas/Organization.ts
Due: prettier --write, tslint --fix

0.12.19-alpha.0-orgowner
  package.json
Due: prettier --write

feat(schemas/Organization): 添加 owner 相关信息
  src/schemas/Organization.ts
Due: prettier --write, tslint --fix

0.12.19
  package.json
Due: prettier --write

feat(schemas/Task): 补充已在使用中的 `creator` 字段
  src/schemas/Task.ts
  test/apis/task.spec.ts
Due: prettier --write, tslint --fix

0.12.20
  package.json
Due: prettier --write

fix(SDKFetch): 避免在 query 唯一键对应值为 [] 时得错误 url
  src/SDKFetch.ts
  test/SDKFetch.spec.ts
Due: prettier --write, tslint --fix

refactor(SDKFetch): 令 url 生成逻辑更利于复用
  mock/mock.ts
  src/SDKFetch.ts
Due: prettier --write, tslint --fix

feat(utils): 添加批量更新相关的一个数据转换工具函数 normBulkUpdate
  src/index.ts
  src/utils/httpclient.ts
  src/utils/index.ts
  src/utils/internalTypes.ts
  test/app.ts
  test/utils/httpclient.ts
  test/utils/index.ts
Due: prettier --write, tslint --fix

feat(schemas/Project): 补充已存在的 `isTemplate` 字段
  src/schemas/Project.ts
Due: prettier --write, tslint --fix

0.12.21
  package.json
Due: prettier --write

feat(schemas): 添加 task dependency 相关类型
  src/schemas/TaskDependency.ts
  src/schemas/index.ts
  src/sockets/TableAlias.ts
  src/teambition.ts
  test/sockets/mapToTable.spec.ts
Due: prettier --write, tslint --fix

0.12.22-alpha.0-taskdep
  package.json
Due: prettier --write

doc(Net): 为 CacheStrategy 以及其枚举值做文档说明
  src/Net/Net.ts
Due: prettier --write, tslint --fix

feat: 添加 HomeActivity schema
  src/schemas/Activity.ts
  src/schemas/HomeActivity.ts
  src/schemas/index.ts
  src/sockets/TableAlias.ts
Due: prettier --write, tslint --fix

fixup!
  src/schemas/HomeActivity.ts
Due: prettier --write, tslint --fix

fixup!
  src/schemas/index.ts
Due: prettier --write, tslint --fix

fixup! test
  test/sockets/mapToTable.spec.ts
Due: prettier --write, tslint --fix

fixup! projectSstateActivity schema
  src/schemas/ProjectStatusActivity.ts
  src/schemas/index.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

fix(schemas/Preference): 更新 `tips` 类型
  src/schemas/Preference.ts
Due: prettier --write, tslint --fix

fixup! add `ProjectyStatusActivity` schema
  src/schemas/ProjectStatusActivity.ts
Due: prettier --write, tslint --fix

0.12.22-alpha.1-homeactivity
  package.json
Due: prettier --write

chore(yarn.lock): 补充自 yarn@1.10.1 起默认添加的 integrity 字段
  yarn.lock
Due: none

...使用一个 reactivedb 无需摇树的版本
  package.json
  src/rx.ts
  yarn.lock
Due: prettier --write, tslint --fix

0.12.22
  package.json
Due: prettier --write

feat: add support for `GraphQL`
  src/SDK.ts
  src/utils/internalTypes.ts
Due: prettier --write, tslint --fix

0.12.23-alpha.1-graphql
  package.json
Due: prettier --write

feat(schema): 添加 Testplan Testcase Testhub 相关定义
  src/schemas/CommonGroup.ts
  src/schemas/Testcase.ts
  src/schemas/Testhub.ts
  src/schemas/Testplan.ts
  src/schemas/index.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

feat(schemas): 添加 ProjectStatusActivity 定义
  src/schemas/ProjectStatusActivity.ts
  src/schemas/index.ts
  src/teambition.ts
Due: prettier --write, tslint --fix

feat(schemas): 添加 HomeActivity 定义
  src/schemas/Activity.ts
  src/schemas/HomeActivity.ts
  src/schemas/index.ts
  src/sockets/TableAlias.ts
  test/sockets/mapToTable.spec.ts
Due: prettier --write, tslint --fix

fix(schemas/Preference): 更新 `preference.tips` 类型
  src/schemas/Preference.ts
Due: prettier --write, tslint --fix

feat(apis/project): 给 `getProject()` 接口添加 `withOwner` 参数
  src/apis/project/get.ts
  src/schemas/Project.ts
  test/apis/project.spec.ts
  test/fixtures/projects.fixture.ts
Due: prettier --write, tslint --fix

0.12.23
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.ts)
  tslint --fix: any of: *.ts
